{% extends "app_folder_HTML/tokopade_navbar.html" %}
{% load static %}

{% block content_block %}
<nav class="secondary_nav" id="secondary_nav">

</nav>

<div class="site_container" id="site_container">
   <section class="section">
       <div class="grid">
           <h1 class="section__title">UPCOMING TOURNAMENTS</h1>
       </div>                  
   </section>

   <section class="section">
       <div class="grid">
           <h1 class="section__title">PAST TOURNAMENTS</h1>
       </div>                   
   </section>

   
</div>

{% endblock %}
